*{
	padding: 0px;
	margin: 0px;
}
html,body{
	width: 100%;
	height: 100%;
}
#container{
	width: 100%;
	height: 100%;
	background:#F3F4F5;
}
/*tou*/
.tou{
	width: 100%;
	height: 40%;
	/*background: greenyellow;*/
	background:#FFFFFF;
	position: relative;
	
}
.sjk{
	width: 18%;
	height: 55%;
	position: absolute;
	right: 0px;
	top: 9px;
	display: block;
	/*overflow: hidden;*/
}

.sanjiao{
	/*display: block;*/
	/*visibility: visible;*/
	/*visibility: hidden;*/
}
.first{
	width: 100%;
	height: 60%;
	/*border: 1px solid red;*/
	border-top: 1px solid white;
	background: url(../image/beijing.jpg);
	
}
.first .logo{
	width: 90%;
	height: 15%;
	/*border: 1px solid blue;*/
	margin-left: 5%;
	margin-top: 3%;
}
.logo img{
	width: 6%;
	height: 100%;
	
}
.logo .two{
	float:right
}
/*second*/
.second{
	width: 100%;
	height: 60%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 0px;
	top: 18%;
	/*overflow: hidden;*/
	
}
.second .kuang{
	width: 90%;
	height: 100%;
	/*border: 1px solid green;*/
	margin-left: 5%;
	/*overflow: hidden;*/
}
.yi{
	width: 100%;
	height: 20%;
	color: white;
	/*overflow: hidden;*/
	/*border: 1px solid red;*/
	
	
}
.er{
	width: 100%;
	height:80%;
	background:#FFFFFF;
	position: relative;
	overflow: hidden;
	/*border: 1px solid red;*/
	box-shadow: 1px 1px 2px 2px #F0F0F0;
	border-radius: 8px 10px;
	/*-webkit-box-shadow: 0px 0px 2px   black ;*/
	
	
}
.er .zuo{
	width: 20%;
	height: 55%;
	border: 1px solid red;
	position: absolute;
	left:5%;
	top:10%;
	/*overflow: hidden;*/
}
.er .zhong{
	width: 70%;
	height: 50%;
	/*border: 1px solid green;*/
	position: absolute;
	left: 30%;
	top: 14%;
	
}
.ji{
	width:100%;
	height: 35%;
	/*border: 1px solid red;*/
	font-size: 20px;
	line-height: 100%;
	
}
.ji img{
	
	height: 60%;
	margin-left: 4%;
	
	
}
.zi1{
	width: 100%;
	height: 20%;
	/*border: 1px solid red;*/
	font-size: 13px;
	color: #989898;
	line-height: 100%;
	margin-top: 3%;
	
	
}
.zi1 span{
	margin-right: 3%;
}
.zi2{
	width: 58%;
	height: 20%;
	border: 1px solid #989898 ;
	margin-top: 4%;
	font-size: 12px;
	color: #989898;
	line-height: 100%;
	text-align: center;
	overflow: hidden;
}
.zi2 span{
	margin-right: 2px;

}
.zi2 div{
	margin-right: 2px;
	
}

.xia{
	width: 90%;
	height: 15%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 3%;
	bottom:13%;
	/*padding-bottom:0px ;*/
}
.xia img{
	width: 4%;
	height: 100%;
	margin-right: 8px;
	
}
.xia span{
	font-size: 12px;
	/*color: #989898;*/
	color: #989898;
	
	/*line-height: 80%;*/
	margin-bottom: 0px;
	text-align: center;
	
	
}

/*third*/
.third{
	width: 90%;
	height: 6%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 5%;
	top: 85%;
}
.third img{
	
	height: 100%;
	
}
.third span{
	font-size: 10px;
	
	color: #989898;
	margin-top: 0px;
}
.third .one{
	position: absolute;
	left:7%;
	top:-5px;
}
.third .two{
	width: 17%;
	height: 100%;
	
	/*border: 1px solid red;*/
	position:absolute;
	right: 0px;
	top: 0px;
}
.two span{
	font-size: 13px;
	color: #989898;
	margin-right: 5px;
	
}

.sjk img{
	
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*daohang*/
#container .daohang{
	width: 100%;
	height: 7%;
	background:#FFFFFF;
	/*border: 1px solid red;*/
	margin-top: 3%;
}

.daohang ul{
	list-style: none;
	width: 80%;
	height: 100%;	
	margin: 0 auto;
	/*border: 1px solid black;*/
	display:flex;
	justify-content:space-between;
}
.daohang ul li{
	width: 15%;
	height: 100%;
	/*border: 1px solid red;*/
	float: left;
	color: #959595;
	text-align: center;
	
	line-height:3rem;
	
	
	
}
.daohang ul .diyi{
	color: #FC9153;
	border-bottom: 1.5px solid #FC9153;
}

/*xiangqing*/
#xqk{
	width: 100%;
	height: 60%;
	/*border: 1px solid red;*/
	margin-top: 3%;
	position: relative;
	/*overflow: hidden;*/
}
/*store*/

.xq1{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	/*background: red;*/
	
	
}
/*tankuagn*/
.tankuang{
	width: 100%;
	height: 40%;
	position: absolute;
	left: 0px;
	bottom:16% ;
	background:rgba(255,255,255,0.9);
	display:none;
	box-shadow: -1px -1px -1px -1px gray;
	border-top: 1px solid gray;
	/*border: 1px solid red;*/
}
.tan1{
	width: 100%;
	height: 15%;
	background: #EEEEEE;
	/*background: white;*/
	border-left: 2px solid #FB8E4C;
	
	position: relative;
}
.xiao1{
	width: 20%;
	height: 100%;
	/*border: 1px solid black;*/
	color: #7B7B7B;
	position: absolute;
	left:0px;
	/*top: 80%;*/
	top: 0px;
	font-size: 20px;
	z-index: 99;
	
}
.xiao2{
	width: 33%;
	height: 100%;
	color: #7B7B7B;
	position: absolute;
	left:62%;
	/*top: 80%;*/
	top: 0px;
	z-index: 99;
	/*border: 1px solid black;*/
}
.xiao2 img{
	
	width: 16%;
	height: 100%;
	margin-right: 10px;
}
.qgc{
	text-align: center;
	line-height: 30%;
}
.tan2{
	width: 100%;
	height: 30%;
	/*border: 1px solid red;*/
	position: relative;
	border-bottom:2px solid #F4F4F4 ;
}
.wl1{
	font-size: 20px;
	position: absolute;
	left: 2%;
	top: 25%;
}
.wl2{
	font-size: 18px;
	position: absolute;
	left: 45%;
	top: 25%;
}
.wl3{
	width: 20%;
	height: 60%;
	position: absolute;
	left: 65%;
	top: 25%;
}
.wl3 img{
	width: 50%;
	height: 100%;
}
.wl4{
	width: 20%;
	height: 60%;
	position: absolute;
	left: 78%;
	top: 25%;
	font-size: 25px;
}
.wl5{
	width: 20%;
	height: 60%;
	position: absolute;
	left: 85%;
	top: 25%;
}
.wl5 img{
	width: 50%;
	height: 100%;
}
.tan3{
	width: 100%;
	height: 30%;
	/*border: 1px solid red;*/
	position: relative;
	border-bottom:2px solid #F4F4F4 ;
	
}
.tsn1{
	position: absolute;
	left: 2%;
	top: 25%;
	font-size: 20px;
}
.tsn2{
	font-size: 18px;
	position: absolute;
	left: 45%;
	top: 25%;
}
.dazhe{
	width: 100%;
	height: 10%;
	/*background: gray;*/
	background: white;
	padding-bottom: 0px;
	position: relative;
}
.zhe1{
	width: 20%;
	height: 70%;
	position: absolute;
	left:0px;
	bottom: 5%;
	
	/*border: 1px solid red;*/
}
.zhe1 img{
	margin-right: 5%;
}
.zhe2{
	width: 80%;
	height: 100%;
	/*border: 1px solid red;*/
	position: absolute;
	left:20%;
	top: 2%;
	border-bottom: 1px solid #FAFAFA;
	
	
}

.dazhe2{
	color: #AAAAAA;
	font-size: 12px;
}
.liebiao{
	width: 20%;
	height: 70%;
	/*border: 1px solid black;*/
	margin-top: 2%;
	float: left;
	background: #F8F8F8;
}
.liebiao ul{
	width: 100%;
	height: 100%;
	list-style: none;
}
.liebiao ul li{
	width: 100%;
	height: 25%;
	/*border: 1px solid red;*/
	float: left;
	border-bottom: 1px solid #D3D1D1;
	text-align: center;
	font-size: 20px;
	color: #868686;
	
}
.tian1{
	line-height: 320%;
}

.shop{
	width: 78%;
	height: 70%;
	/*background: yellow;*/
	float: right;
	margin-top: 2%;
	margin-right:2px ;
}
.tianp{
	width: 100%;
	height: 20%;
	/*background: paleturquoise;*/
	border: 1px solid #FFFFFF;
	color: #BDBDBD;
	line-height: 180%;
}
.bao{
	width: 100%;
	height: 50%;
	/*border: 1px solid red;*/
}

.danta{
	width: 100%;
	height: 80%;
	background:white;
	border: 1px solid #F4F4F4;
	position: relative;
	/*margin-top: -8%;*/
}
.dan1{
	width: 30%;
	height: 80%;
	border: 1px solid #CFC7C2;
	position: absolute;
	left: 2%;
	top: 5%;
}
.dan1 img{
	width: 100%;
	height: 100%;
}
.dan2{
	width: 60%;
	height: 80%;
	/*background: yellow;*/
	position: absolute;
	left: 35%;
	top: 5%;
}
.dan3{
	width: 20%;
	height: 30%;
	background: #FC9153;
	position: absolute;
	left: 75%;
	top: 65%;
	text-align: center;
	line-height: 200%;
	color: white;
	border-radius: 15px;
}
.pu2{
	font-size: 10px;
	color: #B3B3B3;
}
.pu1{
	letter-spacing: 0px;
}
.pu6{
	font-size: 18px;
	color: #FB4E44;
}
.qiwu{
	font-size: 18px;
	color: #FB4E44;
}
.pu7{
	font-size: 12px;
	color: #FB4E44;
}
.hbj{
	width: 100%;
	height: 40%;
	background: white;
	border: 1px solid #F4F4F4;
	position: relative;
}
.hbj1{
	width: 30%;
	height: 80%;
	border: 1px solid #CFC7C2;
	position: absolute;
	left: 2%;
	top: 5%;
}
.hbj1 img{
	width: 100%;
	height: 100%;
}
.hbj2{
	width: 30%;
	height: 80%;
	/*background: yellow;*/
	position: absolute;
	left: 35%;
	top: 5%;
}
.jin2{
	font-size: 10px;
	color: #B3B3B3;
}
.jin3{
	font-size: 14px;
	color: #F18D78;
}
.jin5{
	font-size: 12px;
	color: #F18D78;
}
.jin6{
	font-size: 18px;
	color: #FB4E44;
}
.jin7{
	font-size: 12px;
	color: #FB4E44;
}
.hbj3{
	width: 30%;
	height: 40%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 65%;
	top: 60%;
	
	
}
.kong1{
	width: 8%;
	height: 80%;
	float:left;
}
.kong2{
	width: 8%;
	height: 80%;
	float:left;
}
.jian{
	width: 30%;
	height: 80%;
	float: left;
	/*border: 1px solid red;*/
}
.jian img{
	width: 100%;
	height: 100%;
	/*margin-right: 5%;*/
}
.shuzi{
	width: 18%;
	height: 80%;
	float: left;
	/*border: 1px solid black;*/
	font-size: 24px;
	text-align: center;
	/*border: 1px solid red;*/
	margin-left: -5px;
	
}
.jia{
	width: 30%;
	height: 80%;
	/*margin-right: 5px;*/
	float: left;
	/*border: 1px solid red;*/
	/*margin-right: 0px;*/
}
.jia img{
	width: 100%;
	height: 100%;
}
/*che*/

.che{
	width: 100%;
	height: 16%;
	background:#4A4C5B;
	margin-top: 79%;
	position: relative;
}
.kc1{
	width: 18%;
	height: 100%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 0px;
	top: -25%;
	display: block;
	
}
.kc1 img{
	width: 95%;
	height: 100%;
	
}
.che1{
	width: 18%;
	height: 100%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 0px;
	top: -25%;
	display: none;
}
.che1 img{
	width: 95%;
	height: 100%;
}
.shu{
	width: 24%;
	height: 30%;
	position: absolute;
	left:80%;
	top: 0;
	border: 1px solid red;
	background: red;
	border-radius:50% ;
	color: white;
	text-align: center;
	line-height: 100%;
	
	
}
.kc2{
	width: 35%;
	
	height: 30%;
	position: absolute;
	left:18%;
	top: 10%;
	color: white;
	display: block;
	line-height: 250%;
	/*display: none;*/
	display: block;
}
.che2{
	width: 23%;
	
	height: 30%;
	position: absolute;
	left:17%;
	top: 10%;
	color: white;
	display: none;
}
.che2 .dazi{
	font-size:20px;
}
.dabaof{
	/*margin-bottom: 2%;*/
}
.kc3{
	width: 33%;
	height: 100%;
	position: absolute;
	right:0px;
	top: 0px;
	color: white;
	/*background: #FA9052;*/
	font-size: 25px;
	/*text-align: center;*/
	line-height: 200%;
	/*display: none;*/
	/*display: none;*/
	display: block;
	
	/*display: none;*/
}
.xiaoshu{
	display: none;
	width: 24%;
	height: 30%;
	position: absolute;
	left:80%;
	top: 0;
	border: 1px solid red;
	background: red;
	border-radius:50% ;
	color: white;
	text-align: center;
	line-height: 100%;
}
.che3{
	width: 33%;
	height: 100%;
	position: absolute;
	right:0px;
	top: 0px;
	color: white;
	background: #FA9052;
	font-size: 25px;
	text-align: center;
	line-height: 240%;
	display: none;
}
/*pingjia*/
.xq2{
	width: 100%;
	height: 100%;
	background: white;
	border-bottom: 10px solid #F8F8F8;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
.xq2yi{
	width: 100%;
	height: 25%;
	/*background: gray;*/
	position: relative;
}
.p1{
	width: 30%;
	height: 80%;
	/*border: 1px solid red;*/
	text-align: center;
	position: absolute;
	left: 0px;
	top: 10%;
	border-right: 2px solid #F4F4F4;
	}
.s1{
	font-size: 35px;
	color: #FC9153;
	
}
.s2{
	color: #FC9153;
	
}
.s3{
	color: #8A8A8A;
	
}
.p2{
	width: 65%;
	height: 50%;
	/*border: 1px solid red;*/
	position: absolute;
	left: 35%;
	top: 25%;
	
	
}
.p2 span{
	color: #838383;
	
}
.xq2er{
	width: 100%;
	height: 50%;
	background: white;
	position: relative;
	border-bottom: 2px solid #F3F3F3;
}
.ni1{
	width:13%;
	height:24%;
	background:#D8D8D8;
	border-radius:50% ;
	position: absolute;
	left: 2%;
	top: 10%;
	
}
.ni2{
	width: 50%;
	height: 70%;
	position: absolute;
	left: 18%;
	top: 10%;
}
.dl2{
	margin-top: 6%;
}
.dl3{
	margin-top: 10%;
}
.dl4{
	width: 10%;
	height: 12%;
	margin-top: 5%;
}
.dl5{
	color: #BDBDBD;
	font-size: 12px;
	margin-top: 3%;
}
.ni3{
	width: 50%;
	height: 30%;
	position: absolute;
	left: 52%;
	top: 9%;
	color: #A6A6A6;
}
.ni4{
	width: 80%;
	height: 16%;
	position: absolute;
	left: 16%;
	top: 75%;
	/*border: 1px solid red;*/
	background: #F8F8F8;
	color: #C2C2C2;
	font-size: 14px;
	line-height: 180%;
	padding-left: 2%;
}


.xq2san{
	width: 100%;
	height: 30%;
	background: white;
	position: relative;
}
.sanni1{
	width:12%;
	height:35%;
	background:#D8D8D8;
	border-radius:50% ;
	position: absolute;
	left: 2%;
	top: 10%;
	
}
.sanni2{
	width: 50%;
	height: 70%;
	position: absolute;
	left: 18%;
	top: 10%;
}
.sandl2{
	margin-top: 3%;
}
.sandl3{
	margin-top: 5%;
}
.sandl4{
	width: 10%;
	height: 12%;
	margin-top: 3%;
}
.sandl5{
	color: #BDBDBD;
	font-size: 12px;
	margin-top: 3%;
}
.sanni3{
	width: 50%;
	height: 30%;
	position: absolute;
	left: 52%;
	top: 9%;
	color: #A6A6A6;
}
.sanni4{
	width: 80%;
	height: 16%;
	position: absolute;
	left: 16%;
	top: 75%;
	/*border: 1px solid red;*/
	background: #F8F8F8;
	color: #C2C2C2;
	font-size: 14px;
	line-height: 180%;
	padding-left: 2%;
}
/*dizhi*/
.xq3{
	width: 100%;
	height: 60%;
	/*border: 1px solid black;*/
	display: none;
	margin-top: 0px;
	
	position: absolute;
	left: 0px;
	top: 50%;
	
}
#xiang{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	
	background: white;
	/*border: 1px solid blue;*/
	
}
.di{
	width: 97%;
	height: 100%;
	/*border: 1px solid green;*/
	border-bottom:1px solid #F3F3F3 ;
	float: right;
	position: relative;
	
}
.di img{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 20%;
}
.di span{
	position: absolute;
	left: 8%;
	top: 20%;
}


#xiang2{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	/*margin-top: 3%;*/
	background: white;
	
}
.dian{
	width: 97%;
	height: 100%;
	/*border: 1px solid green;*/
	border-bottom:1px solid #F3F3F3 ;
	float: right;
	position: relative;
	
}
.dian .img1{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 20%;
}
.dian span{
	position: absolute;
	left: 8%;
	top: 20%;
}
.dian .img2{
	width: 1.5%;
	height: 20%;
	position: absolute;
	left: 46%;
	top: 36%;
}

#xiang3{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	/*margin-top: 3%;*/
	background: white;
	
}
.shang{
	width: 97%;
	height: 100%;
	/*border: 1px solid green;*/
	border-bottom:1px solid #F3F3F3 ;
	float: right;
	position: relative;
	
}
.shang img{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 20%;
}
.shang span{
	position: absolute;
	left: 8%;
	top: 20%;
}

#xiang4{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	/*margin-top: 3%;*/
	background: white;
	
}
.pei{
	width: 97%;
	height: 100%;
	/*border: 1px solid green;*/
	border-bottom:1px solid #F3F3F3 ;
	float: right;
	position: relative;
	
}
.pei img{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 20%;
}
.pei span{
	position: absolute;
	left: 8%;
	top: 20%;
}

#xiang5{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	margin-top: 3%;
	background: white;
	
}
.fu{
	width: 97%;
	height: 100%;
	/*border: 1px solid green;*/
	border-bottom:1px solid #F3F3F3 ;
	float: right;
	position: relative;
	
}
.fu img{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 20%;
}
.fu span{
	position: absolute;
	left: 8%;
	top: 20%;
}


.tdkuang{
	width: 80%;
	height: 40%;
	/*background:pink;*/
	background: white;
	position: absolute;
	left: 10%;
	top: 40%;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px lightgray;
	display: none;
	
}
.td1{
	width: 100%;
	height: 20%;
	/*border: 1px solid red;*/
	position: relative;
}
.zi{
	font-size: 20px;
	position: absolute;
	left: 10%;
	top: 25%;
}
.xt{
	font-size: 30px;
	color: #B5B5B5;
	position: absolute;
	left: 90%;
	top: 15%;
}
.td2{
	width: 100%;
	height: 30%;
	/*border: 1px solid red;*/
	position: relative;

}
.guige{
	color: #B5B5B5;
	position: absolute;
	left: 4%;
	top: 2%;
}
.zb{
	width: 20%;
	height: 40%;
	background: #4A4C5B;
	position: absolute;
	left: 4%;
	top: 35%;
	line-height: 190%;
	text-align: center;
	color: white;
}
.db{
	width: 20%;
	height: 40%;
	background: #F5F5F5;
	position: absolute;
	left: 30%;
	top: 35%;
	color: #B5B5B5;
	line-height: 190%;
	text-align: center;
}
.td3{
	width: 100%;
	height: 30%;
	/*border: 1px solid red;*/
	position: relative;
	margin-top: 0px;
	/*background: red;*/
	
	

}
.guige2{
	color: #B5B5B5;
	position: absolute;
	left: 4%;
	top: 2%;
}
.cg{
	width: 20%;
	height: 40%;
	background: #4A4C5B;
	position: absolute;
	left: 4%;
	top: 35%;
	line-height: 190%;
	text-align: center;
	color: white;
}
.duo{
	width: 20%;
	height: 40%;
	background: #F5F5F5;
	position: absolute;
	left: 30%;
	top: 35%;
	line-height: 190%;
	text-align: center;
	color: #B5B5B5;
}
.qifen{
	width: 20%;
	height: 40%;
	background: #F5F5F5;
	position: absolute;
	left: 60%;
	top: 35%;
	line-height: 190%;
	text-align: center;
	color: #B5B5B5;
}
.td4{
	width: 100%;
	height: 15%;
	/*border: 1px solid red;*/
	position: relative;
	margin-top: 0px;
	/*background: yellow;*/
	
	

}
.qdw{
	width: 20%;
	height: 100%;
	color: red;
	font-size: 25px;
	position: absolute;
	left: 3%;
	top: 9%;
}
.xhl{
	width: 50%;
	height: 100%;
	background: #FC9153;
	font-size: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	line-height: 180%;
	color: white;
}
